{% extends 'base.html' %}
{% block content %}


<div class="car">
    <div class="car_info">
        <img class="car_img" src={{car.img}} alt={{car.name}} />
    </div>
    <div class="car_info">
        <div class="car_title">
            {%if car.year != '.'%}
            <span>{{car.year}}</span>
            {% endif %}
            <span>{{car.make}}</span>
            {%if car.model != '.'%}
            <span>{{car.model}}</span>
            {% endif %}
            {%if car.trim != '.'%}
            <span>{{car.trim}}</span>
            {% endif %}
        </div>
        <div class="car_specs">
            {% if car.displacement != '.' %}
            <p>Displacement: {{car.displacement}}</p>
            {% endif %}
            {% if car.induction != '.' %}
            <p>Induction: {{car.induction}}</p>
            {% endif %}
            {% if car.configuration != '.' %}
            <p>Configuration: {{car.configuration}}</p>
            {% endif %}
            {% if car.hp != '.' %}
            <p>Horsepower: {{car.hp}}</p>
            {% endif %}
            {% if car.torque != '.' %}
            <p>Torque: {{car.torque}}</p>
            {% endif %}
        </div>
    </div>
    
</div>
{% if user.is_authenticated %}
<div>
    <a class="update_car_button" href="/cars/{{car.id}}/update/">Update Car</a>
</div>
{% endif %}
{% if user.is_authenticated %}
{% if car.id > 38 %}
<div>
    <a class="delete_car_button" href="{% url 'car_delete' car.pk %}">Delete</a>
</div>
{% endif %}
{% endif %}
{% endblock %}