{% extends 'base.html' %}
{% block content %}
<div class="celebrity_list">
    <h1 class="title">Celebrities</h1>
    <div class="celeb_list">
        <div class="gallery">
            {% for celebrity in celebrities %}
            <a href="{{celebrity.id}}/"">
                <div class="celeb">
                    <img class="celeb_pic" src={{celebrity.img}} alt={{celebrity.name}}/>
                    <h1 class="celeb_name">{{celebrity.name}}</h1>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <footer>
        <a class="add_celeb" href="/new/">Add a Celebrity</a>
    </footer>
</div>
{% endblock %}