{% extends 'base.html' %}
{% block content %}
<div class="celeb_container">
    <img class="detail_pic" src={{celebrity.img}} alt={{celebrity.name}} />
    <div class="celeb_info">
        <h3 class="name">{{celebrity.name}}</h3>
        <h4>Born on {{celebrity.dob}}</h4>
        <h4>Profession: {{celebrity.job}}</h4>
    </div>
</div>
{% if user.is_authenticated %}
{% if celebrity.id > 7%}
<div>
    <a class="celeb_delete" href="{% url 'celebrity_delete' celebrity.pk %}" class="button-is-danger"> Delete Celebrity </a>
</div>
{% endif %}
{% endif %}
<div class="car_list">
    {% for car in celebrity.cars.all%}
    <a href="{% url 'car_detail' celebrity.pk car.pk %}">
        <div class="single_car">
            <img class="car_pic" src={{car.img}} alt={{car.name}} />
            <div class="car_list_title">
                {% if car.year != '.' %}
                <span class="space">{{car.year}} </span>
                {% endif %}
                <span class="space">{{car.make}}</span>
                {% if car.model != '.' %}
                <span class="space">{{car.model}}</span>
                {% endif %}
                {% if car.trim != '.' %}
                <span class="space">{{car.trim}}</span>
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div>
    <h2>Add Car</h2>
    {% if user.is_authenticated %}
    <p>If no info is available, put . in field</p>
    <form class="mb-5" action="{% url 'car_create' celebrity.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="year"
                    placeholder="year"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="make"
                    placeholder="make"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="model"
                    placeholder="model"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="trim"
                    placeholder="trim"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="displacement"
                    placeholder="displacement"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="induction"
                    placeholder="induction"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="configuration"
                    placeholder="configuration"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="hp"
                    placeholder="hp"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="torque"
                    placeholder="torque"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="img"
                    placeholder="image url"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Car" />
            </div>
        </div>
    </form>
    {% else %}
    <p>Must be logged in to add car</p>
    {% endif %}

</div>
{% endblock %}