{% extends 'base.html' %}
{% block content %}
<div class="home">
    <div class="home_list">
        <h1 class="home_title">Celebrity Cars</h1>
        <div class="home_gallery">
            {% for car in cars %}
            <div class="home_cars">
                <img class="home_pic" src={{car.img}} alt={{car.name}} />
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="home_footer">
        <a class="home_list_link" href="/celebrities/">Celebrity List</a>
    </footer>
</div>
{% endblock %}